*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'monseratt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper{
  background-color: #fff;
}

@font-face {
  font-family: "Mak";
  src: url(../src/fonts/MAK-bold.otf);
}

@font-face {
  font-family: "Mak-bold";
  src: url(../src/fonts/MAK.otf);
}

@font-face {
  font-family: "monseratt";
  src: url(../src/fonts/Montserrat-Regular.ttf);
}
